body{
  /*font-family: 'BMJUA';*/
  margin: 0 auto;
}

li{
  list-style: none;
}

input[type=text]{
  width: 150px;
  height: 25px;
  border: 3px solid whitesmoke;
  border-radius: 5px;
}

input[type=text]:focus{
  width: 150px;
  height: 25px;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  
}

.hidden {
  display: none;
}

.background {
  margin: 0 auto;
  position: absolute;
  top:0;
  width: 100%;
  height: 790px;
  background-repeat: no-repeat;
  background-size: contain;
}
.background_cover {
  background-color:black;
  position:absolute;
  top:0;
  width:100%;
  height:790px;
  opacity:50%;
  z-index:1;
}

#login-form{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  opacity: 60%;
}

#todo-form {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    opacity: 60%;
}

#todo-list{
  position: absolute;
  top: 64%;
  left: 49%;
  transform: translate(-50%,-50%);
  z-index: 2;
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
  opacity: 90%;
}

.login-button{
  border:none;
  height: 30px;
}

.button{
  border:none;
  align-items: center;
  position:relative;
  top: -4px;
  left: 3px;
}

#greeting{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    opacity: 80%;
}

#clock {
  position:absolute;
  left:50%;
  top:10%;
  z-index: 2;
  font-size:100px;
  transform: translate(-50%,-50%);
}

#quote {
  position:absolute;
  bottom:5%;
  left:50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  color:whitesmoke;
  opacity: 70%;
}

#weather {
  position: absolute;
  right:2%;
  top:3%;
  z-index: 2;
}